* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

body {
    background-color: #f2f3f6;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ErrorMessage{
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
}

.page-title {
    margin: 50px 50px 50px 50px;
    font-size: 30px;
    color: #1b11e4;
}

#txt-input {
    margin: 0 0 30px 0;
    padding: 20px;
    height: 100px;
    width: 400px;
}

#txt-output {
    margin: 30px 0;
    padding: 20px;
    height: 100px;
    width: 400px;
    border: 1px solid grey;
    text-align: left;
    background-color: #fff;
}

#btn-translate {
    background-color: #1b11e4;
    height: 30px;
    width: 100px;
    color: #fff;
}

footer {
    margin-top: 10px;
}

.social-icons {
    margin: 10px;
}

.social-icons i {
    display: inline-block;
    margin: 10px;
}

.social-icons a {
    text-decoration: none;
}

.connect-with {
    margin-top: 30px;
}

footer a {
    text-decoration: none;
}

footer a:link, a:visited, a:hover, a:active {
    color: #1b11e4;
}

@media (max-width: 426px) {
    #txt-input {
        height: 100px;
        width: 250px;
    }
    #txt-output {
        height: 100px;
        width: 250px;
    }
}

@media (max-width: 376px) {
    #txt-input {
        height: 100px;
        width: 220px;
    }
    #txt-output {
        height: 100px;
        width: 220px;
    }
}

@media (max-width: 320px) {
    #txt-input {
        height: 100px;
        width: 200px;
    }
    #txt-output {
        height: 100px;
        width: 200px;
    }
}